---
import { Image as AstroImage, getImage } from "astro:assets";
import Image from "./Image.astro";

const {
  id,
  className,
  images,
  alts,
  link,
  width,
  height,
  allowResize,
  allowZoom,
  loading,
  loadingMini,
} = Astro.props;
const Tag = link ? "a" : "div";
console.log(allowZoom);

// const mainImages: Awaited<ReturnType<typeof getImage>>[] = await Promise.all(
//   images.map((image: string) =>
//     getImage({
//       src: image,
//       format: "webp",
//     }),
//   ),
// );
// const lilImages: Awaited<ReturnType<typeof getImage>>[] = await Promise.all(
//   images.map((image: string) =>
//     getImage({
//       src: image,
//       format: "webp",
//       width: 72,
//       height: 36,
//     }),
//   ),
// );
---

<div
  id={id}
  class={`${className ?? ""} image-thing`}
  data-allow-zoom={allowZoom}
>
  <div class="cool-border">
    <Tag class={`main-image-container`} href={link ? link : ""}>
      {
        images.map((image: string, i: number) => (
          <div class={`image-container ${i === 0 ? "selected" : ""}`}>
            <AstroImage
              class="product-image"
              src={`${image}`}
              width={allowResize ? "0" : width}
              height={allowResize ? "0" : height}
              format="webp"
              alt={alts?.[i] ?? alts ?? ""}
              loading={loading}
              style={allowResize ? {} : { objectFit: "cover" }}
            />
            {allowResize && (
              <AstroImage
                class={`preview`}
                width={allowResize ? "0" : width}
                height={allowResize ? "0" : height}
                src={`${image}`}
                format="webp"
                alt={alts?.[i] ?? alts ?? ""}
              />
            )}
          </div>
        ))
      }
    </Tag>
    <slot />
  </div>
  <div class="image-select">
    {
      images.map((image: string, i: number) => (
        <div
          class={`lil-image cool-border ${i === 0 ? "selected" : ""}`}
          onclick={`const product = document.getElementById('${id}'); product.querySelector('.lil-image.selected').classList.remove('selected'); this.classList.add('selected'); product.querySelector('.image-container.selected').classList.remove('selected'); product.querySelector('.image-container:nth-child(${i + 1})').classList.add("selected");`}
        >
          <AstroImage
            width={allowResize ? "0" : width}
            height={allowResize ? "0" : height}
            style={allowResize ? {} : { objectFit: "cover" }}
            src={image}
            format="webp"
            alt={alts?.[i] ?? alts ?? ""}
            loading={loadingMini ?? loading}
          />
        </div>
      ))
    }
  </div>
</div>

<style>
  .image-select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0 5rem;
    margin-top: 0.5rem;
  }

  .image-thing > :not(.image-select) .image-container:not(.selected) {
    display: none;
  }

  .lil-image {
    /* max-height: 3rem; */
  }

  .preview {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transform: scale(300%);
    transform-origin: 0 0;
    background-color: var(--primary);
    transition: opacity 200ms ease-in-out;
  }

  .main-image-container {
    width: 100%;
  }

  .image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .image-container:hover .preview {
    opacity: 1;
    transition: opacity 50ms ease-in-out;
  }

  .product-image {
    width: 100%;
  }
</style>

<script>
  const imageContainers = document.querySelectorAll(
    "[data-allow-zoom] .image-container",
  ) as NodeListOf<HTMLElement>;

  for (const container of imageContainers) {
    let rect: DOMRect;
    const preview = container.children[1] as HTMLImageElement;

    const move = (e: MouseEvent) => {
      preview.style.left = (-e.clientX + rect.left) * 2 + "px";
      preview.style.top = (-e.clientY + rect.top) * 2 + "px";
    };

    container.addEventListener("mouseenter", () => {
      if (!container.classList.contains("selected")) return;

      rect = container.getBoundingClientRect();

      container.addEventListener(
        "mouseleave",
        () => container.removeEventListener("mousemove", move),
        { once: true },
      );
      container.addEventListener("mousemove", move);
    });
  }
</script>
