---
import Stripe from "stripe";
import ImageThing from "./ImageThing.astro";

const stripe = new Stripe(import.meta.env.STRIPE_SK ?? "");

const products = (await stripe.products.list({ active: true })).data.reverse();
const _prices = (await stripe.prices.list()).data;
const prices: Stripe.Price[] = products.map(
  (product) =>
    _prices.find((price) => price.id === product.default_price) ??
    _prices.find((price) => price.product === product.id)!,
);
---

<section>
  {
    products.map((product, i) => (
      <ImageThing
        id={`product-${product.id}`}
        width="720"
        height="360"
        className="product"
        link={product.active ? `/shop/${product.name}/` : ""}
        images={product.images}
        alts={product.description}
        loading="eager"
      >
        <div class="info">
          <h4 class="title floating">
            <span>{product.name}</span>
          </h4>
          <span class="floating">
            <strong>
              {prices[i]!.unit_amount
                ? `$${(prices[i].unit_amount / 100).toFixed(2)}`
                : "FREE"}
            </strong>
          </span>
        </div>
      </ImageThing>
      //   <div id={`product-${product.id}`} class="product ">
      //     <div class="cool-border">
      //       <a href={product.active ? `/shop/${product.name}/` : ""}>
      //         {product.images[0] && !product.images[0].includes("stripe") ? (
      //           <AstroImage
      // 		  	class="selected"
      //             width={720}
      //             height={360}
      //             src={`${product.images[0]}`}
      //             alt={product.description ?? ""}
      //           />
      // 		  <AstroImage
      //             width={720}
      //             height={360}
      //             src={`${product.images[1]}`}
      //             alt={product.description ?? ""}
      //           />
      // 		  <AstroImage
      //             width={720}
      //             height={360}
      //             src={`${product.images[2]}`}
      //             alt={product.description ?? ""}
      //           />
      // 		  <AstroImage
      //             width={720}
      //             height={360}
      //             src={`${product.images[3]}`}
      //             alt={product.description ?? ""}
      //           />
      //         ) : (
      //           <Image
      //             width={720}
      //             height={360}
      //             src={`real_mount.jpeg`}
      //             alt={product.description ?? ""}
      //           />
      //         )}
      //       </a>
      //       <div class="info ">
      //         <h4 class="title floating">
      //           <span>{product.name}</span>
      //         </h4>
      //         <span class="floating">
      //           <strong>
      //             {prices[i].unit_amount
      //               ? `$${(prices[i].unit_amount / 100).toFixed(2)}`
      //               : "FREE"}
      //           </strong>
      //         </span>
      //       </div>
      //     </div>
      //     <div class="image-select">
      //       {product.images.map((image, i) => (
      //         <div
      //           class={`lil-image cool-border ${i === 0 ? "selected" : ""}`}
      //           onclick={`const product = document.getElementById('product-${product.id}'); product.querySelector('.lil-image.selected').classList.remove('selected'); this.classList.add('selected'); product.querySelector('.selected').classList.remove('selected'); product.querySelector('img:nth-child(${i + 1})').classList.add("selected");`}
      //         >
      //           <AstroImage
      //             width={720}
      //             height={360}
      //             src={image}
      //             alt={product.description ?? ""}
      //           />
      //         </div>
      //       ))}
      //     </div>
      //   </div>
    ))
  }
</section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    width: 100%;
    height: min-content;
    padding: 0 0.75rem;
    padding-bottom: 8rem;
    padding-top: 2.5rem;
  }

  @media (max-width: 1280px) {
    section {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 800px) {
    section {
      grid-template-columns: 1fr;
    }
  }

  /* .product > div:first-child {
    --border-width: 2px;
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-bottom: 0.5rem;
    transition: border 200ms ease-in-out;
  } */

  .product a {
    display: flex;
    align-self: flex-end;
  }
  .product :is(a, img) {
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .product .info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    z-index: 3;
    background-color: red;
  }
  .product > div:first-child:hover .info {
    opacity: 1;
    pointer-events: none;
  }

  .product .image-select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0 5rem;
  }

  .product > div:first-child img:not(.selected) {
    display: none;
  }

  .product .lil-image {
    /* width: 50%; */
  }
</style>
